body{
    margin: auto;
}
#header{
    height: 60px;
    width: 100%;
    background-color:white;
    position: fixed;
}
#search{
    height: 450px;
    width:100%;
    display:inline-block;
}
#quicksearch{
    height: 600px;
    border: 1px solid rgb(38, 163, 48);
}
#footer{
    height: 60px;
    border: 1px solid rgb(20, 95, 129);
}
#logo{
    font-size:3rem;
    color: rgb(194, 62, 62);
    margin-left:5%;
    float:left;
}
a{
    text-decoration:none;
}

#main{
    align-items: center;
}

#social{
    float:right;
    margin-right: 5%;
    font-size:3rem;
    align-items: center;
    
}
#facebook{
    color:#1877f2;
}
#insta{
    color:#f77041;
}
#youtube{
    color:#fe0000;
}
#searchimage{
    height:100%;
    width:100%;
}